<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotCornersWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HotCornersWin.Properties.Settings>
            <setting name="IsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftTop" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="RightTop" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="LeftBottom" serializeAs="String">
                <value />
            </setting>
            <setting name="RightBottom" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiMonCfg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="DisableOnFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayLT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayRT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayLB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayRB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomActions" serializeAs="String">
                <value>[{"$type":"CAShell","Command":"calc.exe","Name":"Calculator"},{"$type":"CAShell","Command":"https://github.com/flexits/","Name":"GitHub"},{"$type":"CAShell","Command":"Shell:::{ED7BA470-8E54-465E-825C-99712043E01C}","Name":"All Tasks"}]</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>1</value>
            </setting>
        </HotCornersWin.Properties.Settings>
    </userSettings>
</configuration>